{% extends 'old_base.html' %}
{% load staticfiles %}
{% load crispy_forms_filters %}

{% block title %}
Chambers Overview
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
{% endblock %}

{% block main_content %}

<div id="createChamber" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form class="form-horizontal" id="chamber-form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="valueModalTitle">New Chamber</h3>
                </div>
                <div class="modal-body">
                    {% crispy chamber_form %}
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-2 p-1">
        <div class="card">
            <h3 class="card-header bg-danger text-white text-center banner">
                Chamber Filter
            </h3>
            <div id="searchBox" class="card-body p-2 text-center mx-auto">
                <h5>Filter by Chamber</h5>
                <div id="filterChamber"></div>
                <hr>
                {% for property in properties %}
                    <h5>Filter by {{property.property_name}}</h5>
                    <div id="filter{{property.id}}"></div>
                    <hr>
                {% endfor %}
                <h5>Filter by Run</h5>
                <div id="filterRun"></div>
                <hr>
                <h5>Filter by Recipe</h5>
                <div id="filterRecipe"></div>
                <hr>
                <h5>Filter by Z-Score</h5>
                <div id="filterZScore"></div>
            </div>
        </div>
    </div>
    
    <div class="col-md-10 p-1">
        <div class="card">
            <div class="card-header text-white text-center p-2 banner">
                <div class="floatLeft">
                    <a href="" data-toggle="modal" data-target="#createChamber"><i class="fas fa-plus-square"></i></a>
                </div>
                <h3>Chambers List</h3>
            </div>
            <div class="card-body p-0">
                <table id="dataTable" class="table table-striped display compact" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr class="table-active">
                            <th>Chamber</th>
                            {% for property in properties %}
                                <th>{{property.property_name}}</th>
                            {% endfor %}
                            <th>Last Run</th>
                            <th>Last Recipe</th>
                            <th>Last Z-Score</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th id="Chamber">Chamber</th>
                            {% for property in properties %}
                                <th id="{{property.id}}">{{property.property_name}}</th>
                            {% endfor %}
                            <th id="Run">Last Run</th>
                            <th id="Recipe">Last Recipe</th>
                            <th id="Z-Score">Last Z-Score</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for chamber, run in chambers_runs_list %}
                            <tr>
                                <td><a href="{% url 'chamber' chamber.id %}">{{chamber.chamber_name}}</a></td>
                                {% for value in chamber.chamberproperty_set.all %}
                                    <td>{{value.property_value}}</td>
                                {% endfor %}
                                {% if run != "No runs yet." %}
                                    <td><a href="{% url 'expert_import:run' run.id %}">{{run}}</a></td>
                                {% else %}
                                    <td><a>{{run}}</a></td>
                                {% endif %}
                                <td><a href="{% url 'chamber' chamber.id %}">{{last_recipe}} - Last recipe for last run?</a></td>
                                <td><a href="{% url 'chamber' chamber.id %}">{{last_z_score}}</a></td>
                            </tr>
                        {% empty %}
                            <div class="card-block p-1 text-center mx-auto">
                                <hr>
                                <h3>No chambers created yet.</h3>
                                <hr>
                                <button class="btn btn-secondary banner new-obj-button" id="create-chamber" data-id="value" data-toggle="modal" data-target="#createChamber">Create New Chamber</button>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</div>
{% endblock %}

{% block end_scripts %}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/filter.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#Chamber').appendTo('#filterChamber');
        $('#Run').appendTo('#filterRun');
        $('#Recipe').appendTo('#filterRecipe');
        $('#Z-Score').appendTo('#filterZScore');
        {% for property in properties %}
            var property = "{{property.id}}"
            $('#' + property).appendTo('#filter' + property);
        {% endfor %}
    });
</script>
{% endblock %}